body.green{
	background: #96CA2D;
}
.green header img{
	background: #006CBA;
}
.green .swiper-slide h2{
	border-bottom: 2px solid #EEE;
}
.green .theme-selector{
	border: 2px solid #EEE;
}
.green .theme-selector div{
	 border: 0.1em dotted  #EEE;
}
