body.green{
	background: #FFF;
	background-image: url(../img/FeuillageD.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}
.green header img{
	background: #ADCF4F;
	background: rgba(60,180,60,1);
}
.green .swiper-slide h2{
	border-bottom: 2px solid rgba(230, 230, 230, 0.9);
}
.green .theme-selector{
	border: 2px solid rgba(230, 230, 230, 0.9);
}
.green .theme-selector div{
	 border: 0.1em dotted  rgba(230, 230, 230, 0.9);
}
.green .swiper-scrollbar-drag {
	background:  rgba(230, 230, 230, 0.9);
}  
.green .swiper-scrollbar{
	background:  rgba(20, 20, 20, 0.5);
}
.green .block{
	 background: rgba(230, 230, 230, 0.7);
	 border: 2px solid grey;
}

.green i.left{
background-image: url(../img/left-white.png);
}

.green i.right{
background-image: url(../img/right-white.png);
}