	body{
		overflow:hidden;
	}
	header{
	}
	header img{
		height: 55px;
		border-radius: 4px;
	}
	header h1{
		display: inline-block;
		margin: 25px 5px -20px 20px;
		position: relative;
		top: -10px;
		font-size: 2.8em;
	}

	.swiper-container,.swiper-slide {
		height:100%;
	}
	
	.swiper-slide h2{
		margin-right: 50px; 
		font-size: 1.8em;
	}
	.swiper-scrollbar {
		position: fixed;
		bottom: 0px;
		left: 0px;
		width: 100%;
		height: 5px;
	}
	.swiper-scrollbar-drag {
	}  
	 .swiper-slide h3{
		font-size: 1.5em;
	}
	 .theme-selector{
		border-radius: 2em 2em 2em 2em;
		display: inline-block;
		height: 4em;
		width: 4em;
	 }
	 .theme-selector div{
		border-radius: 3.1em 3.1em 3.1em 3.1em;
		height: 3.5em;
		margin: 0.2em;
		width: 3.5em;
	 }
	@media (max-width: 520px) {
		.swiper-slide h2{ 
			font-size: 2em;
		}
		.swiper-slide h3{
			font-size: 1.6em;
		}
	}
