body.black{
	background: black;
	color: rgba(240, 240, 240, 1);
}
.black header img{
	background: #006CBA;
}
.black .swiper-slide h2{
	border-bottom: 1px solid rgba(240, 240, 240, 0.9);
}
.black .theme-selector{
	border: 1px solid rgba(240, 240, 240, 0.9);
}
.black .theme-selector div{
	 border: 0.1em solid rgba(240, 240, 240, 0.9);
}
.black .swiper-scrollbar-drag {
	background:  rgba(240, 240, 240, 0.9);
}  
.black .swiper-scrollbar{
	background:  rgba(240, 240, 240, 0.2);
}
.black .block{
	 background: rgba(150, 150, 150, 0.9);
	 border: 1px solid grey;
}

.black li.group{
	border-bottom: 1px solid rgba(240, 240, 240, 0.9);
}
.black li.item:nth-child(odd) {
	 background: rgba(150, 150, 150, 0.7);
}
.black li.item:nth-child(even) {
	 background: rgba(150, 150, 150, 0.9);
}