

body.light{
	background: #EEE;
}

.light header img{
	background: #ADCF4F;
	background: rgba(60,180,60,1);
}
.light .swiper-slide h2{
	border-bottom: 1px solid black;
}
.light .theme-selector{
	border: 1px solid;
}
.light .theme-selector div{
	 border: 0.1em solid grey;
}
.light .block{
	 background: #FFF;
	 border: 2px solid grey;
}

.light i.left{
background-image: url(../img/left-black.png);
}

.light i.right{
background-image: url(../img/right-black.png);
}